.header {
  background-color: #6725A8;
  margin: 0 auto;
}

.header__container {
  max-width: 1400px;
  padding: 16px 24px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 88px;
  box-sizing: border-box;
}

.header__rounding {
  background-color: #F6F6FA;
  height: 23px;
  border-radius: 24px 24px 0 0;
}

.header__nav-element {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-right: 28px;
}

.header__burger {
  background: transparent url('../../images/burger.svg') center no-repeat;
  background-size: 28px 24px;
  width: 48px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.45);
  transition: border 0.3s;
  cursor: pointer;
}

.header__burger:hover {
  border: 1px solid rgba(255, 255, 255, 1);
}

.header__logo {
  background-image: url('../../images/logo1.svg');
  background-size: 106px 48px;
  width: 106px;
  height: 48px;
  margin-top: 4px;
  cursor: pointer;
}

.header__navbar {
  margin-left: 28px;
}

.header__navbar-list {
  display: flex;
  list-style: none;
  gap: 42px;
  margin: 0;
  padding: 0;
}

.header__navbar-item {
  position: relative;
}

.header__navbar-link {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
  text-decoration: none;
  align-items: center;
  margin-bottom: 2px;
  opacity: 1;
  transition: opacity 0.3s;
}

.header__navbar-link:hover {
  opacity: 0.6;
}

.header__navbar-img {
  margin-bottom: 6px;
}

.header__navbar-img_profile {
  margin-left: 2px;
}

.header__navbar-img_basket {
  margin-right: 6px;
}

.header__search {
  border-radius: 36px;
  background-color: rgba(255, 255, 255, 0.2);
  height: 48px;
  max-width: 970px;
  width: 100%;
  cursor: pointer;
  transition: all 0.2s;
}

.header__search:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.header__search-form {
  display: flex;
  padding: 10px 20px;
}

.header__search-input {
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  background-color: transparent;
  border: none;
  padding: 0;
  width: 100%;
  margin-bottom: 2px;
  outline: none;
  cursor: pointer;
}

.header__search-input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.header__search-input:focus {
  border: none;
}

.header__search-button {
  background: transparent url('../../images/search.svg') center no-repeat;
  width: 24px;
  height: 24px;
  border: none;
  opacity: 0.4;
  margin-top: 2px;
  cursor: pointer;
}

.header__search-button_mobile {
  display: none;
}

@media (max-width: 1020px) {
  .header__container {
    padding: 14px;
    height: auto;
  }

  .header__nav-element {
    gap: 20px;
    margin-right: 0;
  }

  .header__navbar {
    display: none;
  }

  .header__burger {
    background: transparent url('../../images/smallburger.svg') center no-repeat;
    width: 28px;
    height: 28px;
    border: none;
  }

  .header__logo {
    background-image: url('../../images/logo2.svg');
    background-size: 198px 24px;
    width: 198px;
    height: 24px;
  }

  .header__search {
    display: none;
  }

  .header__search-button_mobile {
    display: block;
    opacity: 1;
  }
}