input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

.basket__list {}

.basket__list-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  margin-right: 1px;
}

.basket__list-icon {
  margin-top: 3px;
  cursor: pointer;
}

.basket__list-zone {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.basket__list-zone_missing {
  color: #9797AF;
}

.basket__list-header-items {
  display: flex;
}

.basket__list-header-number {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
}

.basket__list-header-price {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
}

.basket__list-icon {
  margin-right: 5px;
  margin-top: 6px;
}
.basket__info-text {
  margin: 6px 0;
  font-size: 13px;
  line-height: 16px;
}

.basket__info-text_free {
  color: #0CB477;
  border-bottom: 1px dashed rgba(12, 180, 119, 0.2);
  cursor: pointer;
}

.basket__card {
  display: flex;
  margin: 2px 0 0;
  align-items: center;
}

.form__label-text {
  margin-left: 4px;
  margin-top: 1px;
}

.form__pseudo-item {
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.form__item {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(0 0 0 0);
}

.form__label {
  margin: 0;
  font-size: 13px;
  line-height: 16px;
}

.form__item:checked+.form__pseudo-item {
  background: #CB11AB url('../../../images/whitetick.svg') center no-repeat;
  border-color: #CB11AB;
}

.basket__checkbox {
  font-size: 16px;
  line-height: 24px;
  margin-left: 7px;
}

.form__pseudo-item_list {
  vertical-align: middle;
}

.basket__item-info {
  display: flex;
  gap: 12px;
  max-width: 397px;
  padding-top: 2px;
}

.basket__item-photo {
  border-radius: 8px;
  width: 72px;
  height: 96px;
  box-sizing: border-box;
  margin-right: 4px;
}

.basket__item-name {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 7px;
  cursor: pointer;
}

.basket__item-detail {
  font-size: 13px;
  line-height: 16px;
  margin: 0;
  margin-right: 11px;
}

.basket__item-details-line {
  display: flex;
  gap: 6px;
  margin-bottom: 8px;
  align-items: center;
  margin-top: 2px;
}

.basket__item-detail_grey {
  color: #9797AF;
  margin-right: 0;
}

.basket__item {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  margin-bottom: 9px;
}

.basket__missing-item {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  margin-bottom: 9px;
}


.basket__item-info-price {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.basket__item-controls {}

.basket__item-counter {
  background-color: #fff;
  border-radius: 8px;
  height: 44px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter__minus {
  border: none;
  height: 24px;
  width: 24px;
  background-color: transparent;
  font-size: 20px;
  line-height: 24px;
  padding: 0;
  letter-spacing: -0.2px;
  cursor: pointer;
}

.counter__plus {
  border: none;
  height: 24px;
  width: 24px;
  background-color: transparent;
  font-size: 20px;
  line-height: 24px;
  padding: 0 0 2px 3px;
  cursor: pointer;
}

.counter__number {
  border: none;
  background-color: transparent;
  width: 44px;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  padding: 0 0 1px 1px;
  margin: 0;
}

.counter__number:focus {
  outline: 0;
  outline-offset: 0;
}

.basket__item-left {
  color: #FF3B30;
  font-size: 13px;
  line-height: 16px;
  margin: 9px 0 0;
}

.basket__button-like {
  background: transparent url('../../../images/heart.svg') center no-repeat;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.basket__button-like_active {
  background: transparent url('../../../images/heartactive.svg') center no-repeat;
}

.basket__button-like:hover {
  background: transparent url('../../../images/heartactive.svg') center no-repeat;
}

.basket__button-delete {
  background: transparent url('../../../images/trash.svg') center no-repeat;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.basket__button-delete:hover {
  background: transparent url('../../../images/trashactive.svg') center no-repeat;
}

.basket__item-buttons {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  margin-top: 9px;
  margin-bottom: 10px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.basket__item:hover .basket__item-buttons {
  opacity: 1;
  visibility: visible;
}

.basket__missing-item:hover .basket__item-buttons {
  opacity: 1;
  visibility: visible;
}

.basket__item-prices {
  display: flex;
  width: 110px;
  align-items: flex-end;
  flex-direction: column;
  position: relative;
}

.basket__item-final-price {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 6px;
}

.basket__item-price {
  font-size: 13px;
  line-height: 16px;
  color: #9797AF;
  text-decoration: line-through;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.20);
  margin: 0;
  cursor: pointer;
}

.basket__item-prices_mobile {
  font-size: 13px;
  line-height: 16px;
  margin: 0;
  cursor: pointer;
}

.basket__item-price_mobile {
  color: #9797AF;
  text-decoration: line-through;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.20);
  margin: 4px 0 0 1px;
}

.basket__item-final-price .small {
  font-size: 16px;
  line-height: 24px;
}

.basket__item-checkbox {
  margin-top: 36.5px;
}

.basket__missing-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}

.basket__missing-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  margin: 0;
}

.basket__item-photo_missing {
  filter: saturate(0);
}

.basket__missing-list {
  margin-top: 30px;
  margin-bottom: 32px;
}

.basket__item-buttons_missing {
  margin-top: 1px;
  margin-bottom: 87px;
}

.basket__item-size {
  font-size: 13px;
  line-height: 16px;
  margin: 0;
  margin-right: 11px;
}

.basket__item-shop-info {
  display: flex;
  gap: 6px;
  margin-bottom: 8px;
  align-items: center;
  margin-top: 2px;
  position: relative;
}

.basket__item-size-mobile {
  display: none;
}

.basket__item-prices_mobile {
  display: none;
}

.basket__info-icon {
  cursor: pointer;
}


.sidebar__info-text_mobile {
  display: none;
}

.container {}

.container-label {
  cursor: pointer;
}

.container_active {
  height: 0;
  overflow: hidden;
}

.container-content {
  overflow: visible;
}

.hidden {
  display: none;
  margin: 0;
  padding: 0;
  visibility: hidden;
}

.rotated {
  transform: rotate(-180deg);
}

.line {
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.hidden-missing-list {
  margin-bottom: 40px;
  margin-top: 16px
}

@media (max-width: 1020px) {
  .basket__item {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
  }

  .basket__missing-item {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 16px;
  }

  .basket__item-size {
    display: none;
  }

  .basket__item-shop-info {
    display: none;
  }

  .basket__item-info {
    position: relative;
    padding-top: 0px;
    margin-bottom: 12px;
    gap: 12px;
  }

  .basket__item-photo {
    height: 106px;
    width: 80px;
  }

  .basket__item-checkbox {
    margin-top: 0;
    position: absolute;
    top: 4px;
    left: 4px;
  }

  .form__pseudo-item {
    background-color: #fff;
  }

  .form__pseudo-item_sum {
    background-color: #F0ECF4;
  }

  .basket__item-size-mobile {
    display: block;
    background-color: #fff;
    width: 21px;
    height: 21px;
    border-radius: 6px;
    position: absolute;
    bottom: 5px;
    left: 5px;
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: black;
    z-index: 1;
  }

  .basket__item-buttons_missing {}

  .basket__item-counter {
    height: 32px;
    width: 80px;
  }

  .counter__minus {
    height: auto;
    width: auto;
    padding-bottom: 3px;
  }

  .counter__plus {
    padding: 0;
    padding-bottom: 3px;
    height: auto;
    width: auto;
  }

  .counter__number {
    font-size: 14px;
    line-height: 20px;
    width: 37px;
    padding-top: 1px;
  }

  .basket__item-controls {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .basket__item-prices {
    display: none;
  }

  .basket__item-prices_mobile {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
  }

  .basket__item-final-price {
    font-size: 16px;
    line-height: 1.2;
    margin: 0 5px 0 0;
  }

  .basket__item-name {
    font-size: 14px;
    line-height: 20px;
    margin-top: 2px;
    margin-bottom: 8px;
  }

  .basket__item-left {
    margin-top: 8px;
  }

  .basket__item-counter-left {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .basket__item-buttons {
    margin-top: 6px;
    gap: 25px;
    margin-right: 11px;
    margin-bottom: 0;
    visibility: visible;
    opacity: 1;
  }

  .basket__list {
    padding: 0 16px;
  }

  .basket__missing-list {
    margin-top: 45px;
    padding: 0 16px;
    margin-bottom: 30px;
  }

  .basket__item-info-price {
    justify-content: flex-end;
  }

  .basket__item-buttons_missing {
    margin-right: 3px;
    margin-top: 3px;
  }
}

@media (max-width: 475px) {
  .basket__item-name {
    width: 192px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}