@import url('../vendor/normalize.css');

.page {
  background-color: #F6F6FA;
  min-width: 320px;
  font-family: "Segoe UI", Arial, sans-serif;
  margin: 0 auto;
}

.header {
  background-color: #6725A8;
  margin: 0 auto;
}

.header__container {
  max-width: 1359px;
  padding: 16px 17px 16px 24px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.header-rounding {
  background-color: #F6F6FA;
  height: 24px;
  border-radius: 24px 24px 0 0;
}

.header__nav-element {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-right: 32px;
}

.header__burger {
  background: transparent url('./images/burger.svg') center no-repeat;
  background-size: 28px 24px;
  width: 48px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.45);
}

.header__logo {
  width: 106px;
}

.header__navbar {
  margin-left: 33px;
}

.header__navbar-list {
  display: flex;
  list-style: none;
  gap: 44px;
  margin: 0;
  padding: 0;
}

.header__navbar-item {}

.header__navbar-link {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  line-height: 1.23;
  color: #fff;
  text-decoration: none;
  align-items: center;
}

.header__navbar-img {
  height: 28px;
  width: 28px;
  margin-bottom: 6px;
}

.header__navbar-img_profile {
  margin-left: 2px;
}

.header__navbar-img_basket {
  margin-right: 6px;
}

.header__search {
  border-radius: 36px;
  background-color: rgba(255, 255, 255, 0.2);
  height: 48px;
  max-width: 970px;
  width: 100%;
}

.header__search-form {
  display: flex;
  padding: 10px 20px;
}

.header__search-input {
  font-size: 18px;
  line-height: 1.333;
  color: #fff;
  background-color: transparent;
  border: none;
  padding: 0;
  width: 100%;
  margin-bottom: 2px;
}

.header__search-input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.header__search-input:focus {
  border: none;
}

.header__search-button {
  background: transparent url('./images/search.svg') center no-repeat;
  width: 24px;
  height: 24px;
  border: none;
  opacity: 0.4;
  margin-top: 2px;
}
.main {
  max-width: 1400px;
  margin: 0 auto;
}

.content {
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
}

.basket__content {
  max-width: 891px;
  background-color: #fff;
  border-radius: 16px;
  min-width: 640px;
}

.sidebar {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15),
    0 0 1px rgba(0, 0, 0, 0.3);
  max-width: 429px;
  min-width: 303px;
  width: 100%;
}

.sidebar__info {
  margin: 0 24px;
}

.sidebar__total {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 7px;
}

.sidebar__details {
  display: flex;
  justify-content: space-between;
}

.sidebar__total-text {
  font-size: 24px;
  line-height: 1.33;
  margin: 0;
  padding: 0;
  letter-spacing: -0.3px;
  font-weight: bold;
}

.sidebar__details-text {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.sidebar__info-header-zone {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar__info-header {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
}

.sidebar__info-edit-button {
  background: transparent url('./images/edit.svg') center no-repeat;
  border: none;
  width: 20px;
  height: 20px;
  margin-top: 2px;
}

.sidebar__info-text {
  margin: 6px 0;
  font-size: 13px;
  line-height: 1.23;
}

.sidebar__info-text_date {
  margin: 0;
  color: #CB11AB;
  text-decoration: underline dashed rgba(203, 17, 171, 0.2);
  margin-top: -2px;

}

.sidebar__info-price-zone {
  background-color: #F6F6FA;
  border-radius: 8px;
  display: flex;
  gap: 8px;
  padding: 4px 8px 5px;
  margin-top: 12px;
}

.sidebar__info-text_free {
  margin: 0;
  color: #0CB477;
  text-decoration: underline dashed rgba(12, 180, 119, 0.2);
}

.sidebar__card {
  display: flex;
  margin: 2px 0 12px;
}

.sidebar__info-payment-img {
  margin-right: 8px;
}

.sidebar__info-payment-zone {
  background-color: #F6F6FA;
  border-radius: 8px;
  padding: 8px 8px 12px 8px;
}

.sidebar__info-payment-checkbox {
  width: 22px;
  height: 22px;
  border-radius: 6px;
  margin-bottom: 4px;
}

.sidebar__button-order {
  background-color: #CB11AB;
  border: none;
  color: #fff;
  border-radius: 8px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
  max-width: 381px;
  width: 100%;
  height: 44px;
  margin-top: 24px;
  margin-bottom: 8px;
}

.sidebar__button-rules {
  display: flex;
  margin-bottom: 24px;
}

.sidebar__info-tick {
  margin-right: 8px;
  align-self: start;
  margin-top: 7px;
}

.sidebar__total-text-currency {
  font-size: 20px;
}