@import url('../vendor/normalize.css');

.page {
  background-color: #F6F6FA;
  min-width: 320px;
  font-family: "Segoe UI", Arial, sans-serif;
  margin: 0 auto;
}

.header {
  background-color: #6725A8;
  margin: 0 auto;
}

.header__container {
  max-width: 1359px;
  padding: 16px 17px 16px 24px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.header-rounding {
  background-color: #F6F6FA;
  height: 24px;
  border-radius: 24px 24px 0 0;
}

.header__nav-element {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-right: 32px;
}

.header__burger {
  background: transparent url('./images/burger.svg') center no-repeat;
  background-size: 28px 24px;
  width: 48px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.45);
}

.header__logo {
  width: 106px;
}

.header__navbar {
  margin-left: 33px;
}

.header__navbar-list {
  display: flex;
  list-style: none;
  gap: 44px;
  margin: 0;
  padding: 0;
}

.header__navbar-item {}

.header__navbar-link {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  line-height: 1.23;
  color: #fff;
  text-decoration: none;
  align-items: center;
}

.header__navbar-img {
  height: 28px;
  width: 28px;
  margin-bottom: 6px;
}

.header__navbar-img_profile {
  margin-left: 2px;
}

.header__navbar-img_basket {
  margin-right: 6px;
}

.header__search {
  border-radius: 36px;
  background-color: rgba(255, 255, 255, 0.2);
  height: 48px;
  max-width: 970px;
  width: 100%;
}

.header__search-form {
  display: flex;
  padding: 10px 20px;
}

.header__search-input {
  font-size: 18px;
  line-height: 1.333;
  color: #fff;
  background-color: transparent;
  border: none;
  padding: 0;
  width: 100%;
  margin-bottom: 2px;
}

.header__search-input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.header__search-input:focus {
  border: none;
}

.header__search-button {
  background: transparent url('./images/search.svg') center no-repeat;
  width: 24px;
  height: 24px;
  border: none;
  opacity: 0.4;
  margin-top: 2px;
}